<?xml version="1.0" encoding="UTF-8" ?>
<suite name="我自己的接口测试套件">
    <test name="这是测试模块">
    <classes>
        <class name="com.tester.extend.demo.TestMethodsDemo">
            <methods>
                <include name="test1"></include>
                <include name="test2"></include>
                <include name="test3"></include>
                <include name="logDemo"></include>
            </methods>
        </class>
    </classes>
    </test>

    <listeners>
         <!--listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"></listener-->
        <!--listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListenerOld"></listener-->

        <!--extentngreport格式-->
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"></listener>
    </listeners>
</suite>